{% extends "base/estructura.html" %}

{%block search%}
  {% include "basic/search_form.html"%}<br/>
{%endblock%}



{%block content%}

{% if not request.GET.q %}
<div class="">

</div>
{% endif %}

{% for object in object_list %}
<article class ="post">

  <h2>{{object}}</h2>
  <h4><small>{{object.Type}}, {{object.year}}</small></h4>

  <span class="pull-right has-text-grey-light">

    <a class="btn btn-default btn-sm" href="/update/{{object.id}}/edit">
      <i class="fa fa-cog"></i> Editar</a>
    <a class="btn btn-danger" href="/delete/{{object.id}}/delete">
      <i class="fa fa-trash-o fa-lg"></i> Borrar</a>



  </span>



  <div class="media">

    <div class="media-left">
    </div>
    <div class="media-content">
    <div class="content">
        <a href="/detail/{{object.id}}/">Detalles</a> {{object.created|timesince}}
      </div>
    </div>

  </div>

</article>


{%empty%}
  {% if request.GET.q %}
    <p>No Cars found.</p>
  {% else %}
    <p>No Car yet.</p>
  {% endif %}
{% endfor %}

{%endblock%}
